.App-aside-container{
  padding-left: 10px;
  padding-right:10px;
}

.App-selected-routes {
  padding-left: 12px;
  padding-right: 12px;
}

.Selected-route {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Selected-route-label:before {
  content:"• ";
}

.App-aside-container > * {
  margin-top: 10px;
}